.logotipo img
{
	height: 30px;
	margin-right: 10px;
}

.lista-navbar li a
{
	color:#FFF;
	
}

.perfil
{
	width: 300px;
}

.perfil img
{
	float: left;
	border-radius: 10px;
	margin-top: 5px;
}

.opcoes-minha-conta
{
	float: right;
}

.navbar
{
	margin-bottom: 15px;
}

.cabecalho h1
{
	margin: 0;
}

.busca
{
	margin-top: 10px;
	float: left;
}

.dados-os
{
	margin-top: 30px;
}

.modal {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}